@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,500&display=swap");

/* Changing browser's default styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f5f5;
  color: #191c32;
  font-family: "Montserrat", sans-serif;
}

.dashboard-wrapper {
  display: flex;
  padding: 20px;
  gap: 20px;
}

/* USERS DASHBOARD NAVIGATION ICONS */
.navbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  gap: 50px;
  height: 100%;
}

.navbar-container h1 {
  color: #ff844b;
  font-size: 30px;
}

.navbar-container ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.navbar-container ul a {
  color: #9d9d9d;
  font-size: 20px;
  padding: 8px;
  border-radius: 10px;
}

.navbar-container ul a:hover {
  background-color: #ff844b;
  color: #fff;
}

/* USERS DASHBOARD SHOWCASE SECTION */

.showcase-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Styling header Bar Section */
.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerIcon {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.headerIcon button {
  padding: 10px;
  background-color: #ff7443;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.greeting p {
  color: #9b9faa;
}

.plusIcon {
  color: #ff7443;
}

.headerIcon p {
  font-size: 20px;
}

/* Styling Activity Section */

.cardWrapper {
  display: flex;
  justify-content: center;
  color: #fff;
  gap: 20px;
}

.cardContainer {
  background-color: #1ab0b0;
  border-radius: 10px;
  width: 200px;
  padding: 20px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-progress-wrapper {
  display: flex;
  flex-direction: column;
}

.stepIcon {
  font-size: 20px;
}

.numberStep {
  font-size: 30px;
}

.numberStep span {
  font-size: 20px;
}

/* Water Card */
.waterContainer {
  background-color: #ff7443;
  border-radius: 10px;
  width: 200px;
  padding: 20px;
  height: 150px;
  font-size: 20px;
}

.water {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100px;
  margin-left: 30px;
  border-bottom: 7px solid #fff;
  border-left: 7px solid #fff;
  border-right: 7px solid #fff;
  border-top: 7px solid #ff7443;
  border-radius: 40px;
}

/* calories card */
.caloriesContainer {
  background-color: #f8437aef;
  border-radius: 10px;
  width: 200px;
  padding: 20px;
  height: 150px;
  font-family: Arial, Helvetica, sans-serif;
}

.caloriesIcon {
  font-size: 20px;
}

.guage {
  width: 100%;
  max-width: 250px;
  height: 0;
  padding-bottom: 50%;
  position: relative;
  background-color: #fc6592ef;
  border-top-left-radius: 100% 200%;
  border-top-right-radius: 100% 200%;
  overflow: hidden;
}

.guageFill {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: 100%;
  background-color: #fff;
  transform-origin: center top;
  transform: rotate(0.25turn);
  transition: transform 0.2s ease-out;
}

.guageCover {
  width: 70%;
  height: 150%;
  background-color: #f8437aef;
  position: absolute;
  border-radius: 50%;
  top: 25%;
  left: 50%;
  transform: translatex(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 25%;
  box-sizing: border-box;
  font-size: 20px;
}

#today {
  color: #ffffffbb;
}

/* HEART CONTAINER */
.heartContainer {
  background-color: rgba(94, 34, 233, 0.623);
  border-radius: 10px;
  width: 200px;
  padding: 20px;
  height: 150px;
  font-family: Arial, Helvetica, sans-serif;
}

.heartIcon img {
  padding: 10px;
}

/* SECTION 3 SHOWCASE  */

.section3container {
  display: flex;
  gap: 30px;
}

.s3header {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  color: #191c32;
  margin-bottom: 0.5rem;
  display: flex;
}

.cardcontainer {
  background-color: white;
  width: 225px;
  height: 240px;
  border-radius: 10px;
  padding: 11px;
}

.s3header2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #0a0a0a;
  margin: 21px 0 0;
}

.s3text {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #848484;
  margin: 0;
}

.texticon {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin: 20px;
  text-align: center;
}

.texticon p {
  margin: 0;
}

.imgcontainer {
  position: relative;
}

.fitnessimage1 {
  background-color: grey;
  display: flex;
  height: 86px;
  border-radius: 6px;
}

.fitnessimage1 img {
  margin-left: auto;
}

.fitnessimage2 {
  background-color: antiquewhite;
  width: 44px;
  height: 44px;
  border-radius: 6px;
  position: absolute;
  top: 60px;
  left: 8px;
}

.emoji {
  background: linear-gradient(180deg, #fffcdd 0%, #ffe896 100%);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-bottom: 8px !important;
}
.doublecardcontainer {
  display: flex;
  column-gap: 30px;
}

.singlecardcontainer {
  background-color: white;
  width: 361px;
  height: 240px;
  border-radius: 10px;
  padding: 14px 17px 20px 20px;
}

.breakfast {
  background-color: #f4f5f5;
  display: flex;
  height: 42px;
  border-radius: 6px;
  padding: 9px 20px;
  justify-content: space-between;
  margin-bottom: 11px;
}

.menuename {
  color: #8676fe;
  font-weight: 700;
  size: 16px;
  line-height: 24px;
}

.time {
  color: #0a0a0a;
  font-weight: 600;
  size: 12px;
  line-height: 16px;
}

.avocadocontainer {
  display: flex;
  border-radius: 50%;
  column-gap: 15px;
  margin-bottom: 25px;
}

.list {
  display: flex;
  column-gap: 14px;
  margin-top: 6px;
}
.list li {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.main {
  color: #0a0a0a;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}
.imgcont {
  width: 65px;
  height: 64px;
}

.imgcont img {
  border-radius: 50%;
}

ul li {
  list-style-type: none;
}

.list li p {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

.smallcircle {
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

.purple {
  background-color: #8676fe;
}

.orange {
  background-color: #ff844b;
}

.pink {
  background-color: #f85c7f;
}

.barcontainer {
  display: flex;
  column-gap: 4px;
  margin-top: 5px;
}

.bar1 {
  width: 47px;
  height: 6px;
  border-radius: 6px;
}

.bar2 {
  width: 90px;
  height: 6px;
  border-radius: 6px;
}

.bar3 {
  width: 61px;
  height: 6px;
  border-radius: 6px;
}

/* STYLING THE PROFILE SECTION */

.sidebar-container {
  font-weight: 400;
  margin: auto;
}

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.profile img {
  width: 50px;
  height: 50px;
  border-radius: 40px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
}

.profileName {
  font-size: 18px;
}

.location {
  color: #9ca3ae;
  font-size: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

/* STYLING BODYMASS SECTION */
.bodyMass {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
}

.bodyMass p {
  color: #6b6e7b;
  font-size: 15px;
}

/* STYLING PERSONAL GOAL SECTION */
.personal-goal {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.personal-goal img {
  width: 45px;
  height: 45px;
  border-radius: 40px;
}

.title-name {
  font-weight: 600;
}

.title-figure {
  font-size: 12px;
  color: #9dacc1;
}

/* SVG AND PERCENT */
.personal-goal .percentage {
  position: relative;
  width: 48px;
  height: 48px;
}

.personal-goal .percentage svg {
  position: relative;
  width: 60px;
  height: 60px;
}

.personal-goal .percentage svg circle {
  width: 100px;
  height: 100px;
  fill: none;
  stroke-width: 5px;
  transform: translate(3px, 3px);
  stroke-dasharray: 420;
  stroke-dashoffset: 420;
}

.personal-goal .percentage svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #f5f5f5;
}

.personal-goal .percentage .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.personal-goal .percentage .number h2 {
  font-size: 12px;
}

.personal-goal .running-wrapper .percentage svg circle:nth-child(2) {
  stroke-dashoffset: calc(460 - (85 * 95) / 70);
  stroke: #1ab0b0;
}

.personal-goal .sleeping-wrapper .percentage svg circle:nth-child(2) {
  stroke-dashoffset: calc(460 - (80 * 95) / 70);
  stroke: #ff7443;
}

.personal-goal .weight-wrapper .percentage svg circle:nth-child(2) {
  stroke-dashoffset: calc(460 - (70 * 95) / 70);
  stroke: #8676fe;
}

/* RUNNING */
.running-wrapper {
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.R-goal {
  display: flex;
  gap: 15px;
}

/* SLEEPING */
.sleeping-wrapper {
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.s-goal {
  display: flex;
  gap: 15px;
}

.s-percentage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-color: #ff7443;
  border-left-color: #f5f5f5;
  border-top-color: #f5f5f5;
  border-radius: 50%;
}

.s-percentage p {
  font-size: 10px;
}

/* WEIGHT LOSS */
.weight-wrapper {
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.w-goal {
  display: flex;
  gap: 15px;
}

.w-percentage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-color: #8676fe;
  border-left-color: #f5f5f5;
  border-top-color: #f5f5f5;
  border-radius: 50%;
}

.w-percentage p {
  font-size: 10px;
}

/* Monthly progress */
.monthly-progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.M-progress-reader {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* PROGRESS BAR and PERCENTAGE*/
.M-progress-reader {
  background-color: #ffffff;
}
.M-progress-reader p {
  color: #9d9d9d;
  font-size: 14px;
}

.m-progress h2 {
  border: 6px solid #ff7443;
  border-bottom: 5px solid #ffffff;
  border-radius: 50%;
  padding: 30px;
}

.M-progress-reader span {
  color: #ff7443;
}

/* STYLING SCHEDULE SECTION */
.schedule {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.S-train {
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.S-train p {
  color: #9d9d9d;
  font-size: 14px;
  padding: 4px;
}

/* Styling of the footer section of the webpage */
.footer {
  background: #0d1957;
  display: flex;
  flex-direction: column;
  gap: 20px;
  bottom: 0;
  padding: 6rem 12rem;
}

.info-det {
  display: flex;
  gap: 100px;
}

.info-section {
  display: flex;
  flex-direction: column;
}

.info-section > h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.75rem;
  color: white;
}

.info-section > a {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  color: white;
  opacity: 0.75;
}

.line {
  width: 100%;
  opacity: 0.4;
  border: 0.5px solid #656565;
  /* margin: 2rem 0; */
}

.subscribe {
  padding: 1.88rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 14.5rem;
  background: #4c63d7;
}

.subscribe > h3 {
  color: white;
}

.subscribe-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mail-input {
  box-sizing: border-box;
  display: inline-flex;
}

.mail-input > input {
  padding: 1rem;
  background-color: white;
  border: none;
}

.mail-input > button {
  border: none;
  background: #0081fe;
  padding: 1rem;
  cursor: pointer;
}

.subscribe > p {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: white;
  opacity: 0.6;
}

.media {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.media > h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 29px;
  color: #fafaf9;
}

.conditions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.conditions > a {
  text-decoration: none;
  margin: 0 1rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 0.88rem;
  line-height: 1rem;
  color: #ffffff;
}

.social-media {
  display: flex;
  align-items: center;
}

.social-media > a {
  margin: 0 0.5rem;
  padding: 0.5rem;
}
