@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,500&display=swap");

/* Changing browser's default style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Adding smooth-scroll effect */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #e5e5e5;
  font-family: "Montserrat", sans-serif;
  color: #000000;
}

/* STYLING NAVBAR SECTION */
.navbar-wrapper nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
}

.navbar {
  display: flex;
  gap: 50px;
}

.navbar a {
  text-decoration: none;
  color: #000000;
  padding: 8px;
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  font-weight: 500;
  opacity: 0.7;
}

.navbar ul a:hover {
  background-color: #bebbbb;
  border-radius: 10px;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  font-family: "sofia", sans-serif;
}

.logout button {
  width: 150px;
}

.btn {
  background-color: #0d1957;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.btn a {
  text-decoration: none;
  color: white;
}
.btn:hover {
  background-color: #1d2d7d;
}

.btn span {
  padding-left: 4px;
}

/* STYLING BMI SHOWCASE SECTION */
.bmi-showcase {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 0px 100px 70px 100px;
}

.bmi-showcase img {
  width: 400px;
  height: 400px;
}

.check-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 40px;
  font-weight: 400;
}

.bmi-check span {
  font-weight: 700;
  color: #0d1957;
}

.advice span {
  color: #000000;
  opacity: 0.7;
}

.bmibtn {
  display: flex;
  align-items: center;
  gap: 15px;
}

.bmibtn button {
  background-color: #0d1957;
  border-radius: 30px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  width: 220px;
}

.bmibtn button span i {
  color: #d4af13;
}

.bmibtn button span {
  padding-left: 4px;
}

.bmibtn p {
  font-size: 15px;
}

/* BMI CALCULATOR SECTION */
.calc-bmi {
  background-color: #0d1957;
  text-align: center;
}

.calc-bmi button {
  padding: 10px;
  width: 250px;
  font-size: 25px;
  font-weight: 700;
  color: #0d1957;
  margin: 25px;
  border-radius: 18px;
}

.calc-bmi button span {
  font-weight: 300;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  gap: 100px;
  color: #fff;
  padding-bottom: 30px;
}

/* FIRST CARD */
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  width: 350px;
}

.card-container h3 {
  width: 100%;
  background-color: #0f9726;
  border-radius: 10px;
  text-align: center;
  padding: 30px;
}

.bmi-height {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  background-color: #0d1957;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  font-weight: 600;
}

.bmi-height .dash input {
  height: 40px;
  width: 80px;
  text-align: center;
  font-size: 20px;
}

.weight-age input {
  height: 40px;
  width: 80px;
  text-align: center;
  font-size: 20px;
}

.card-container .calculate {
  background-color: #0f9726;
  color: #fff;
  cursor: pointer;
}

.card-container .calculate:hover {
  background-color: #11d92f;
  color: #fff;
}

/* SECOND CARD */
.bmi-result-container {
  background-color: #fff;
  color: #0d1957;
  width: 350px;
  border-radius: 10px;
}

.bmi-result {
  margin-top: 45px;
}

.bmi-result h1 {
  padding-left: 2rem;
  text-align: start;
}

.result-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
  padding: 20px;
  background-color: #0d1957;
  border-radius: 10px;
  color: #fff;
  margin: 32px 32px 0 32px;
}

.result-details h2 {
  color: #0f9726;
  font-size: 32px;
}

.result-details .number-read {
  font-size: 28px;
  font-weight: 600;
}

/* LAST BMI RESULT SECTION */

.bmi-record {
  text-align: center;
  margin-top: 100px;
}

.bmi-record .title-btn {
  background-color: #0d1957;
  border-radius: 20px;
  color: #fff;
  font-size: 20px;
  padding: 8px;
  font-weight: 300;
  width: 250px;
}

.bmi-record .title-btn span {
  font-weight: 600;
}

.record-card-wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 48px;
}

.record-card {
  background-color: #f7f7f7;
  border-radius: 10px;
  width: 300px;
}

.record-card-number {
  background-color: #0d1957;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 0;
  padding: 32px;
  font-size: 32px;
}

.record-card-content {
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 30px;
}

.record-card-details {
  margin-top: 10px;
  margin-top: 20px;
  text-align: start;
  padding: 10px;
  line-height: 20px;
  font-size: 10px;
}
.record-card-details h4 {
  color: #0d1957;
  font-weight: bold;
}

.record-card-btn {
  padding: 5px;
  border-radius: 10px;
  background-color: #0d1957;
  color: #fff;
  margin-bottom: 16px;
  cursor: pointer;
}

.record-card-btn .fade {
  color: #e5e5e5;
  opacity: 0.9;
}

.record-card-btn span {
  padding-left: 15px;
}

/* BMI SUGGESTION SECTION */
.bmi-suggest {
  margin-top: 200px;
  margin-bottom: 160px;
  padding: 30px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bmi-suggest .title-btn {
  background-color: #0d1957;
  border-radius: 20px;
  color: #fff;
  font-size: 20px;
  padding: 8px;
  font-weight: 300;
  width: 400px;
  margin-bottom: 64px;
  text-align: center;
}

.bmi-suggest .title-btn span {
  font-weight: 600;
}

.suggest-wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 100px;
}

.score-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
}

.score-container h1 {
  font-size: 40px;
}

.score-container p {
  font-size: 15px;
  width: 450px;
}

/* SUGGEST */
.suggest-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 70px;
}

.suggest-content {
  display: flex;
  align-items: center;
  gap: 15px;
}

.suggest-content .outline-logo {
  font-size: 45px;
  color: #83879d;
  opacity: 0.2;
}

.suggest-content #middle {
  color: #ddbf44;
}

.suggest-advice {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.suggest-advice h1 {
  font-size: 15px;
}

.suggest-advice p {
  font-size: 12px;
}

/* Styling of the footer section of the webpage */
.footer {
  background: #0d1957;
  display: flex;
  flex-direction: column;
  gap: 20px;
  bottom: 0;
  padding: 6rem 12rem;
}

.info-det {
  display: flex;
  gap: 100px;
}

.info-section {
  display: flex;
  flex-direction: column;
}

.info-section > h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.75rem;
  color: white;
}

.info-section > a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  color: white;
  opacity: 0.75;
}

.line {
  width: 100%;
  opacity: 0.4;
  border: 0.5px solid #656565;
}

.subscribe {
  padding: 1.88rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 14.5rem;
  background: #4c63d7;
}

.subscribe > h3 {
  color: white;
}

.subscribe-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mail-input {
  box-sizing: border-box;
  display: inline-flex;
}

.mail-input > input {
  padding: 1rem;
  background-color: white;
  border: none;
}

.mail-input > button {
  border: none;
  background: #0081fe;
  padding: 1rem;
  cursor: pointer;
}

.subscribe p {
  font-size: 14px;
  text-align: justify;
  color: #fff;
}

.media {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.media > h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 29px;
  color: #fafaf9;
}

.conditions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.conditions > a {
  text-decoration: none;
  margin: 0 1rem;
  font-style: normal;
  font-weight: 500;
  font-size: 0.88rem;
  line-height: 1rem;
  color: #ffffff;
}

.social-media {
  display: flex;
  align-items: center;
}

.social-media > a {
  margin: 0 0.5rem;
  padding: 0.5rem;
}
