/* Changing the browsers default settings */

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
  color: #171717;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

/* Styling of the contents for the header */
.header {
  background-color: #0d1957;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  padding: 2rem;
  font-size: 18px;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.title {
  font-size: 25px;
  font-family: "sofia", sans-serif;
  cursor: pointer;
}

.navbar a {
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
  background-color: #0d1957;
  text-decoration: none;
}

.signup {
  background: #ffffff;
  border-radius: 1.25rem;
  padding: 0.5rem 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  cursor: pointer;
}

.signup:hover {
  background-color: #dbd5d5;
}
.h1-text {
  font-size: 64px;
  text-align: center;
  font-weight: 600px;
  line-height: 88px;
  vertical-align: top;
}
.paragraph-text {
  display: flex;
  justify-content: space-between;
  padding: 64px 77px 265px;
  border-radius: 40.24px;
}
.paragraph-text {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 1050;
  line-height: 80px;
  color: white;
  margin: 0;
  text-align: justify;
  border-radius: 40px;
}

.paragraph-text-cont {
  background-color: #18262f;
  /* position: relative; */
  border-bottom-right-radius: 9%;
  padding-bottom: 50px; /*To be removed*/
  border-bottom-left-radius: 8%;
}

img {
  width: 70%;
  position: absolute;
  margin-top: -8%;
  border-top-left-radius: 25%;
  right: 25%;
}
.textandimages {
  position: relative;
}

.connect-button {
  width: 500px;
  background-color: #0d1957;
  height: 56px;
  gap: 8px;
  padding: 8px 16px 8px 16px;
  border-radius: 30px;
}
.connect-button {
  font-weight: 600;
  color: white;
  line-height: 24px;
  text-align: center;
  size: 16px;
}

.getintouch {
  width: 100%;
  height: 100%;
  margin-top: 45%;
  text-align: center;
}
.getintouch h2 {
  font-size: 60px;
}

.form-box {
  background: transparent;
  margin: 0 auto;
  backdrop-filter: blur(20px);
  width: 40%;
  border: 0%;
}

.contact100-form {
  width: 40%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 55px 48px 55px;
}

.wrap-input100 {
  width: 100%;
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  margin-bottom: 15px;
}

.label-input100 {
  font-size: 18px;
  color: #999999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  /* width: 60px; */
  height: 100%;
  top: 0;
  left: 2px;
}

input {
  outline: none;
  border: none;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-size: 25px;
  color: #333333;
  line-height: 1.2;
  padding: 0 25px 0 60px;
}

input.input100 {
  height: 55px;
}

.bttn {
  background-color: #0d1957;
  color: white;
  border-radius: 30px;
  padding: 2% 5% 2% 5%;
  margin-bottom: 30%;
  margin-top: 3%;
}

.footer {
  background: #0d1957;
  display: flex;
  flex-direction: column;
  gap: 20px;
  bottom: 0;
  padding: 6rem 12rem;
}

.info-det {
  display: flex;
  gap: 100px;
}

.info-section {
  display: flex;
  flex-direction: column;
}

.info-section > h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.75rem;
  color: white;
}

.info-section > a {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  color: white;
  opacity: 0.75;
}

.line {
  width: 100%;
  opacity: 0.4;
  border: 0.5px solid #656565;
}

.subscribe {
  padding: 1.88rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 14.5rem;
  background: #4c63d7;
}

.subscribe p {
  font-size: 14px;
  text-align: justify;
  color: #fff;
}

.subscribe > h3 {
  color: white;
}

.subscribe-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mail-input {
  box-sizing: border-box;
  display: inline-flex;
}

.mail-input > input {
  padding: 1rem;
  background-color: white;
  border: none;
}

.mail-input > button {
  border: none;
  background: #0081fe;
  padding: 1rem;
  cursor: pointer;
}

.subscribe > p {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: white;
  opacity: 0.6;
}

.media {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.media > h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 29px;
  color: #fafaf9;
}

.conditions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.conditions > a {
  text-decoration: none;
  margin: 0 1rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 0.88rem;
  line-height: 1rem;
  color: #ffffff;
}

.social-media {
  display: flex;
  align-items: center;
}

.social-media > a {
  margin: 0 0.5rem;
  padding: 0.5rem;
}
