
* {
    padding: 0px;
    margin:0px;
    font-family: sans-serif, 'Montserrat';
}

body {
    margin: 5px;
    padding:5px;
    font-size: 1.1em;

}

.auth-container {
    display:flex;
    height: auto;
    margin-bottom: 40px;
}

.auth-form {
    flex:50%;
}

.tracker {
    font-size: 25px;
    font-family: "sofia", sans-serif;
    cursor: pointer;
    text-align: left;
    margin-left: 15px;
    font-size: 30px;
}

.erudite {
    margin: 20px 50px;
    padding: 40px;

}

.erudite-access {
    color:#0D1957;
    font-size: 30px;
}
.fill-form {
    margin-bottom: 50px;
}

.password {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.auth-img {
    flex:50%;
}

img {
        border-radius: 3%;
}

.auth-footer {
    height: 100px;
}

.text {
    padding: 8px;
    width: 100%;
    height: 8px;
}

.btn {
    background-color:#0D1957;
    padding: 20px;
    border: none;
    width: 90%;
    margin:15px 0px;
    height: 6
    0px;
    border-radius: 5px;
    border: none;
    color:white;
}

#email{
    width:90%;
    height: 40px;
    border-radius: 3px;
    margin: 5px 0px;
}
.btn2 {
    width:90%;
    height: 40px;
    border-radius: 5px;
    border: none;
}
footer {
    background-color: #0D1957;
    border-top: 5px solid white;
}

.auth-footer {
    padding:50px 100px 150px 100px;
}
.first-footer {

    display: flex;
    justify-content: space-between;
}

.footer-sub{
    padding-right:100px;
}

.sub-hello {
    width: 300px;
    color:white;
}
.second-footer {
    display: flex;
    border-top: 1px solid white;
}

h4 {
    color: white;
}
ul {
    list-style-type:none;
    color: white;
}
a {
    text-decoration: none;
}

.footer {
    background: #0D1957;
    position: static;
    bottom: 0;
    padding: 6rem 12rem;
}
.info-det {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}
.info-section {
    display: flex;
    flex-direction: column;
}
.info-section > h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.75rem;
    color: white;
}
.info-section >a {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    color: white;
    opacity: 0.75;
}
.subscribe {
    padding: 1.88rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 21.13rem;
    height: 14.5rem;
    background: #4c63d7;
    margin-bottom: 30px;
}
.subscribe > h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.75rem;
    color: white;
}
.mail-input {
    box-sizing: border-box;
    display: inline-flex;
    margin: 1.25rem 0;
    width: max-content;

}



.mail-input > input {
    padding: 1rem;
    background-color: white;
    border: none;
    width: auto;
}
.mail-input > button {
    border: none;
    background: #0081FE;
    padding: 1rem;
    cursor: pointer;
}

.subscribe > p {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.25rem;
    color: white;
    opacity: 0.6;

}

.media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    border-top: 1px solid white;

}
.media > h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 29px;
    color: #FAFAF9;

}

.conditions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.conditions > a {
    text-decoration: none;
    margin: 0 1rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 0.88rem;
    line-height: 1rem;
    color: #FFFFFF;
}
.social-media {
    display: flex;
    align-items: center;
}
.social-media > a {
    margin: 0 0.5rem;
    padding: 0.5rem;
}

input {
    padding: 3px;
}

@media (max-width:768px) {
    .auth-form {
        flex:100%;
    }
    .auth-img {
        display: none;
    }
    footer {
        display:none;
    }
}
